<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SevenDigitalApiTrackSearch" value="http://api.7digital.com/1.2/track/search?q={0}&amp;country=GB&amp;oauth_consumer_key={1}"/>
		<add key="SevenDigitalApiTrackDetails" value="http://api.7digital.com/1.2/track/details?trackid={0}&amp;country=GB&amp;oauth_consumer_key={1}"/>
		<add key="SevenDigitalConsumerKey" value="{YOUR_CONSUMER_KEY_HERE}"/>
		
		<add key="EchoNestApiSongSearch" value="http://developer.echonest.com/api/v4/song/search?api_key={0}&amp;format=xml&amp;results=10&amp;combined={1}&amp;bucket=tracks&amp;bucket=id:7digital&amp;limit=true"/>
		<add key="EchoNestApiKey" value="{YOUR_API_KEY_HERE}" />
		
		<add key="DataSiftApiStream" value="http://api.datasift.net/stream.xml?stream_identifier={0}&amp;username={1}&amp;api_key={2}&amp;sequence_id={3}"/>
		<add key="DataSiftApiStreamIdentifier" value="{YOUR_STREAM_ID_HERE}"/>
		<add key="DataSiftApiUsername" value="{YOUR_USERNAME_HERE"/>
		<add key="DataSiftApiKey" value="{YOUR_KEY_HERE}"/>
	</appSettings>
</configuration>